{% extends "layout/basic.html" %}

{% block title %}Про меня{% endblock %}

{% block content %}
    <div class="main-page">
        <h1>Про меня</h1>
        <div class="main-block">
            <div class="main-conteiner">
                <h2>Здорова, читатель!</h2>
                <h3>Ты находишься на сайте Хабы.</h3>
                <h4>Как я докатился до жизни такой?</h4>
                <h4>Сейчас расскажу!</h4>
            </div>
        </div>
        <div class="main-block">
            <div class="main-conteiner">
                <h4>Глава I: Что такое компьютер?!</h4>
                <p>
                    Я познакомился с компьютером еще в 5 лет, наблюдая, как мой отец играет в такие игры, как Call Of Duty4: Modern Warfare и S.T.A.L.K.E.R. 
                    Периодически я и сам залипал в эти легендарные игры.
                    К 7 годам я переиграл эти игры очень много раз. Где-то в это время я узнал, что такое YouTube. 
                    Там я смотрел любимые мультики, обзоры на игрушки, прохождение игр.
                </p>
                <img src="static/main/img/callofduty.jpg" alt="CallOfDuty">
                <img src="static/main/img/stalker.jpg" alt="Stalker">
                <p>Признаться, честно, я очень боялся играть в S.T.A.L.K.E.R. Настолько сильно игра передавала гнетущую атмосферу.</p>
                <p>
                    Позднее отец купил ноутбук на замену старенькому компьютеру. Это был новенький, на тот момент, Samsung. 
                    Ноутбук мне сразу понравился, ведь его можно было упаковать в сумку и поехать к бабушке, наслаждаясь всеми прелестями игровой индустрии.
                </p>
                <img src="static/main/img/notebooksamsung.jpg" alt="NotebookSamsung">
                
            </div>
        </div>
        <div class="main-block">
            <div class="main-conteiner">
                <h4>Глава II: Да здравствует онлайн!!!</h4>
                <p>
                    Мне было примерно 8-9 лет. Мой лучший друг, Тимур, провел мне вводный курс по моей первой онлайн-игрушке - Tanki Online.
                </p>
                    <img src="static/main/img/tankionline.jpg" alt="TankiOnline">
                <p>
                    В эту игру можно было играть в браузере, поэтому установка была необязательной.
                    Тимурка любезно предоставил свой аккаунт. Так как мы учились в разное время, играть друг другу не мешали.
                    Учитывая "геймерский" опыт, который копился с 5 лет, я очень легко приспособился и начал тащить в этой превосходной игре.
                </p>
                <p>
                    И снова Тимур! Наигравшись в Tanki Online, он ознакомил меня с Minecraft'ом. Её приходилось скачивать из интернета.
                    На сайте каждого лаунчера приходилось регистрировать аккаунт, чтобы играть на серверах.
                    Мой первый аккаунт был зарегистрирован на мамину рабочую почту.
                    А мой старший брат зарегистрировал мне Скайп, чтобы и со старшим братом мы могли играть в Minecraft.
                </p>
                <img src="static/main/img/minecraft.jpg" alt="Minecraft">
                <p>В эту лучшую на свете игру мы с Тимуркой играем по сей день.</p>
            </div>
        </div>
        <div class="main-block">
            <div class="main-conteiner">
                <h4>Глава III: Windows...</h4>
                <h5>"Если что-то скачиваешь с интернета - жди проблем"
                    c. Хаба
                </h5>
                <p>Надо ли говорить, что виндовс - поломанная система? Даже на сегодняшний день можно столкнуться с множеством проблем.</p>
                <img src="static/main/img/errorwin.jpg" alt="ErrorWin">
                <p>
                    Как только я научился устанавливать приложения и игры себе на ноутбук стали появляться проблемы с совместимостью. Тут уже папа не поможет.
                    В такой ситуации во мне стало развиваться искусство "гугления" (я бы даже сказал "Эксплорирования").
                </p>
                <h5>Вирусы.</h5>
                <img src="static/main/img/viruswin.jpg" alt="VirusWin">
                <p>
                    Вирусы - отдельная боль. Я был мал и неопытен - хлопотал вирусы на раз. "Гайды" из интернетов могли и не помочь.
                    Приходилось часами ковыряться в системе, очищая ее от одозрительных файлов.
                </p>
            </div>
        </div>
        <div class="main-block">
            <div class="main-conteiner">
                <h4>Глава IV: ЮрFuck</h4>
                <p>Я закончил 11 классов. Мальчик повзрослел, пришло время поступать в университет. Выбор пал на Юридический Факультет моего города.</p>
                <img src="static/main/img/urfuck.jpg" alt="UrFuck">
                <p> 
                    Юриспруденция - очень интересное направление, познавательное и полезное.
                    Знание и умение разбираться в юридических тонкостях нашей жизни - полезнейший навык.
                    Однако весь энтузиазм разбился об большинство скучнейших преподавателей, которые заставляли писать километры конспектов.
                </p>
                <p>
                    На втором курсе Тимурка предложил мне пройти бесплатный онлайн курс по 3D в программе 3DS Max.
                    Недельный курс я прошел буквально за пару часов. Меня очень увлекло данное занятие, а также возможность на этом зарабатывать.
                </p>
                <img src="static/main/img/zdsmax.jpg" alt="ZDSMax">
                <p>В течение года я множество раз начинал изучать 3DS Max по YouTube-урокам и забрасывал. Видимо, не сильно то и увлекло...</p> 
            </div>
        </div>
        <div class="main-block">
            <div class="main-conteiner">
                <h4>Глава V: Я - программист</h4>
                <img src="static/main/img/hakirit.jpg" alt="HakirIT">
                <p>
                    Учитывая мой бесконечный опыт работы с компьютерами и им подобными, меня заинтересовало глубинное изучение работы ЭВМ, программ, сайтов.
                    Летом, между 3 и 4 курсом, я твердо решил, что поступлю на Информационный факультет в Магистратуру.
                    Следующее лето - лето после 4-го года обучения на Юридическом факультете было жарким:
                    госэкзамен, защита диплома (так и не понял, от кого его надо было защищать), экзамен на поступление в магистратуру.
                </p>
                <p>Мужик сказал - мужик сделал. Я поступил! И этот сайт я пишу для получения зачета по дисциплине WEB-Программирование.</p>
            </div>
        </div>
        <div class="main-block">
            <div class="main-conteiner">
                <h4>Глава VI: А что дальше?</h4>
                <p>- Время покажет. Забрасывать сайт после получения зачета не собираюсь. Буду и дальше развивать его.</p>
                <img src="static/main/img/kuriman.jpg" alt="KuriMan">
                <h5>Не сдавайся, ты сможешь!</h5>
            </div>
        </div>
    </div>
{% endblock %}