{% extends "layout/basic.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="main-page">
        <div class="main-block">
            <div class="main-conteiner">
                <h3>По поводу рекламы сюда</h3>
                <h6>Телеграм <a href="https://t.me/SanchousPanchous"><i class="fa-brands fa-telegram"></i> Telegram</a></h6>
                <h6>Инстаграм <a href=""><i class="fa-brands fa-instagram"></i> Zapretgram</a></h6>
                <img src="static/main/img/gigachad.jpg" alt="GigaChad">
            </div>
        </div>

    </div>
{% endblock %}