{% extends "layout/basic.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="main-page">
        <div class="main-block">
            <div class="main-conteiner">
                <img src="/media/{{ article.image }}">
                <h5>{{ article.title }}</h5>
                <p>{{ article.full_text|linebreaks }}</p>
                <p>{{ article.date }}</p>
                <a href="{% url 'news-delete' article.id %}" class='btn btn-danger'>Удалить</a>
                <a href="{% url 'news-update' article.id %}" class='btn btn-info'>Редактировать</a>
            </div>
        </div>
    </div>
{% endblock %}