{% extends "layout/basic.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="main-page">
        <div class="main-block">
            <div class="main-conteiner">
                <p>{{ user.username }}</p>
                <img src="/media/{{ user.profile.avatar }}" alt="Аватар">
                <p>{{ user.profile.birth_date }}</p>
                <p>{{ user.profile.bio }}</p>
                <p>суета</p>
                <p><a href="{% url 'upload_avatar' %}">Zdorova goloveshka</a></p>
            </div>
        </div>
    </div>
{% endblock %}