{% extends "layout/basic.html" %}

{% block title %}Профиль: Аватарка{% endblock %}

{% block content %}
    <div class="main-page">
        <div class="main-block">
            <div class="main-conteiner">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success" type="submit">upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}